.blockButton {
    display: flex;
}

.users {
    margin: 5px 8px;
    min-height: 130px;
}

.user {
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    color: rgba(159, 23, 23, 0.75);

}
