.Dark {
    background: dimgrey;
}

.Dark-text {
    color: aliceblue;
}

.Red {
    background: lightcoral;
}

.Red-text {
    color: aqua;
}

.Green {
    background: lightgreen;
}

.Green-text {
    color: darkslateblue;
}