.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.images {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
    padding: 5px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(123, 234, 223, 0.43);
}

.name {
    color: rgb(2, 42, 40);
    font-weight: bold;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: #8988ab;
}

.edge {
    width: 14px;
    height: 14px;
    background: radial-gradient(circle at 0 0, rgb(0, 0, 0, 0) 14px, rgba(123, 234, 223, 0.43) 0);
}

