.selectWrapper {
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    background: transparent;
}

.selectWrapper:hover {
    box-shadow: 0 0 3px gray;
}


.selectWrapper select {
    height: 28px;
    padding: 0 20px 0 7px;
    background-color: transparent;
    border: 0;
    appearance: none; /* remove arrow        */
    -webkit-appearance: none; /* remove arrow Chrome */
    -moz-appearance: none; /* remove arrow FF     */
}

.select-wrapper select::-ms-expand {
    display: none; /* remove arrow IE     */
}

.selectArrow {
    position: absolute;
    z-index: -9999;
    right: 4px;
    bottom: 5px;
    border: 8px solid;
    border-color: transparent transparent #8c8c8c transparent;
    border-right: 0;
}