.radioCheckbox {
    display: none;
}

.lable {
    padding: 0 5px;
}

.labelRadioCheckBox {
    margin:  4px 5px;
    display: inline-block;
    border: 2px solid #b2b1b1;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
}

.labelRadioCheckBox:hover {
    box-shadow: 0 0 3px gray;
}

.labelRadioCheckBox:before {
    content: '';
    background: #1c1e25;
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    left: 2px;
}

.radioCheckbox:checked + .labelRadioCheckBox:before {
    opacity: 1;
}
