.defLink {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.defLink:hover {
    color: #575656;
}

.activeLink {
    text-decoration: none;
    color: #96173a;
    margin: 10px;
}

.picBlock {
    width: 16px;
    height: 16px;

    margin: 10px;
}

.header {

    display: flex;

    width: 280px;
    transition-duration: 1000ms;
    transform: translate(-245px);
}

.header:hover {
    transition-duration: 1000ms;
    transform: translate(0);
}