.blockGreeting {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    min-height: 55px;
    padding: 5px 10px;
}

button {
    margin: 0 5px;
}

.totalCount {
    font-weight: bold;
}